.child-growth-calc-super-container {
    font-size: calc(var(--mobFontSize_H2) - 1%);
}

.child-growth-calc-input-container {
    padding: 6px;
}

.child-growth-calc-input-container select {
    border-color: rgba(var(--mainColor));
}

.child-growth-calc-button-container {
    text-align: center;
}

#btn_Submit_child-growthCalc_Right {
    display: inline-block;
    background: rgba(var(--shadowColor));
    width: 100%;
    font-family: var(--fontFamilyName) Bold, Arial, Helvetica, sans-serif !important;
    color: #fff;
    /* text-align: center; */
    font-weight: 700;
}

.child-growth-calc-heading {
    display: block;
    font-size: calc(var(--mobFontSize_H2) - 1%) !important;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.child-growth-calc-description  {
    font-size: calc(16px - 1%) !important;
}

.child-growth-result {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* align-items: center;
    align-content: center;
    justify-content: center; */
    padding: 12px;
    background-color: white;
}

.child-growth-result-content {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
    align-items: center;
    justify-self: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    text-align: center;
    color: white;
    font-size: calc(var(--mobFontSize_componentTitle) - 1%);
}

.child-growth-result-content #day-container,
.child-growth-result-content #date-container {
    font-size: calc(var(--mobFontSize_H2) - 1%);
    font-weight: bold;
}

#child-growth-result-return-button {
    display: inline-block;
    min-width: 100px;
    width: 100%;
    margin-top: 24px !important;
    margin: 0;
    background: rgb(var(--shadowColor));
    font-size: 16px;
    color: rgb(var(--mainLightColor)) !important;
    text-align: center;
    padding: 8px 15px;
    font-weight: 700;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-decoration: none;
    box-shadow: none;
    outline: none !important;
    margin: 0 auto;
}

.cnts {
    height: auto !important;
}

#errors-list {
    padding: 6px;
}

.error-item {
    text-align: right;
    color: red;
    padding: 3px 12px;
    font-size: calc(16px - 1%) !important;
}

.child-growth-error-container {
    color: red;
    font-size: calc(16px - 1%) !important;
}

#child-growth-title-container {
    padding: 12px;
}

.child-growth-result-content-container {
    padding: 12px;
}

.child-growth-result-content-container h3 {
    font-weight: bold;
}

.child-growth-result-header {
    padding: 24px;
    text-align: center;
    background-color: #a371fcdd;
    margin-top: 12px;
    color: white;
    font-size: calc(16px - 1%) !important;
}

.result-header#result-weight-header {
    background-color: #ffbf00dd;
}

.child-growth-result-body {
    padding: 6px;
    border: 1px solid lightgray;
    margin-top: 6px;
    font-size: small;
}

.child-growth-calc-result-button-container {
    display: flex;
    width: 50%;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.child-growth-scale-container {
    position: relative;
    display: flex;
    background-color: #f1f1f1;
    padding: 15px;
}

.child-growth-scale-range-container {
    display: flex;
    justify-content: space-between;
    font-size: 9px;
}

.p-circle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 15px;
    width: 15px;
    height: 15px;
}

.p-0 {
    border: 2px solid #B26CB6;
}

.p-1 {
    border: 2px solid #FFE26C;
}

.p-2 {
    border: 2px solid #74C57C;
}

#child-growth-result-legend-container {
    margin: 24px 12px;
}

.child-growth-progress-bar {
    background-color: #31CCFD;
    height: 8px;
    margin: 5px 0 3px 0;
}

.child-growth-result-legend-item {
    position: relative;
    display: flex;
}

.child-growth-result-legend-item .p-circle {
    position: relative !important;
    transform: translateY(25%);
    width: 20px;
    height: 20px;
}

.child-growth-result-legend-item-desc {
    position: relative;
    margin: 0 12px;
}

/* .child-growth-calc-info-container {
    position: relative;
    display: inline-block;
    padding: 6px;
    background-color: rgba(var(--mainColor), 0.5) !important;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.child-growth-calc-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
} */